@tailwind base;
@tailwind components;
@tailwind utilities;

.mousefollow {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 25vmax;
    aspect-ratio: 1;
    border-radius: 50%;
    filter: blur(12vmax);
    background: linear-gradient(90deg, #030014, #7a92f0);
    opacity: 0.5;
    z-index: -10;

    transition: transform 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.navigation ul li.active {
    color: #fff;
}

.nav ul li span.indicator {
    background-color: #475569;
}

.nav ul li.active {
    color: #e2e8f0;
}

.nav ul li.active span.indicator {
    background-color: #e2e8f0;
    width: 64px;
}

/* .indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: #032a59;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
} */
